<nav>
  <div class="wrapper-nave">
    <button class="toggle" (click)="toggle()">
      <i class="fas fa-bars"></i>
    </button>
    <div class="logo">
      <a class="logofullscreen" href=""><img src="../../../assets/image/logo.png"alt=""></a>
      <a class="logomobile" href=""><img src="../../../assets/image/logoMobiles.png"alt=""></a>
    </div>
    <ul [class.active]="show">
      <li> <a href="">الرئيسية</a></li>
      <li> <a href="">عن الشركة</a> </li>
      <li> <a href="">خدمات الشركة</a></li>
      <li> <a href="">الاخبار</a> </li>
      <li> <a href="">الاسئلة الشائعة</a></li>
      <li> <a href="">اتصل بنا<i class="fa-solid fa-user"></i> </a> <span>  </span></li>
    </ul>
  </div>
  <!-- <div class="wrapper-nave-mobile">
    <div class="logo">
      <a href=""><img src="../../../assets/image/logo.png"alt=""></a>
    </div>
    <ul>
      <li> <a href="">الرئيسية</a></li>
      <li> <a href="">عن الشركة</a> </li>
      <li> <a href="">خدمات الشركة</a></li>
      <li> <a href="">الاخبار</a> </li>
      <li> <a href="">الاسئلة الشائعة</a></li>
      <li> <a href="">اتصل بنا<i class="fa-solid fa-user"></i> </a> <span>  </span></li>
    </ul>
  </div> -->
</nav>
