.slide
{
  width: 100%;
  height: 247px;
  background: url('../../../assets/image/2022-08-19\ 08_35_49-Window.png');
  background-size:  100% 100%;
  background-repeat: no-repeat;
  object-fit: cover;
}
