<section class="landing" [class.active]="flag">
  <div class="genral-details">
    <div class="header">
      <h2> تفاصيل عامة</h2>
    </div>
    <div class="container">
      <!------------- base info----------- -->
      <div class="baseinfo">
          <!-- card 1 -->
    <div class="card">
      <!-- ----------detailss------------ -->
      <div class="detailss">
        <h4 class="title"> Elti ernawati binti warli</h4>
      <!-- ----------item detailss------------ -->
        <div class="item-details">
          <!-- item 1 -->
          <div class="item">
            <i class="fas fa-info"></i>
            <p>المهنة:عاملة نظافة</p>
          </div>
          <!-- item 2 -->
          <div class="item">
            <i class="fas fa-info"></i>
            <p>الجنسية: اندونيسيا</p>
          </div>
          <!-- item 3 -->
          <div class="item">
            <i class="fas fa-info"></i>
            <p>الديانة: غير محدد</p>
          </div>
        </div>
        <div class="featuer">
          <!--featuer 1  -->
          <div class="item">
            <i class="fas fa-info"></i>
            <p>اجادة الطبخ والتنظيف</p>
          </div>
          <!--featuer 2  -->
          <div class="item">
            <i class="fas fa-info"></i>
            <p>اجادةمعاملة الاطفال</p>
          </div>
        </div>
      </div>
      <!-- image -->
      <div class="image">
        <img src="../../../assets/image/maid.png" alt="">
      </div>
    </div>
      </div>
      <!------------- skills----------- -->
      <div class="skills">
          <h4 class="title-skills"> المهارات والاعمال المنزلية</h4>
          <div class="items-container">
            <!-- item -->
            <div class="item-skills">
              <i class="fas fa-info"></i>
              <p>نظافة وتدابير البيت</p>
            </div>
            <div class="item-skills">
              <i class="fas fa-info"></i>
              <p>  اجادة الطبخ</p>
            </div>
            <div class="item-skills">
              <i class="fas fa-info"></i>
              <p>التعامل مع الاطفال</p>
            </div>
            <div class="item-skills">
              <i class="fas fa-info"></i>
              <p>التعامل مع كبار السن</p>
            </div>
            <div class="item-skills">
              <i class="fas fa-info"></i>
              <p>اجادة اللغة العربية</p>
            </div>
            <div class="item-skills">
              <i class="fas fa-info"></i>
              <p> اجادة اللغة الانجليزية</p>
            </div>
          </div>
      </div>
      <!------------- Nots----------- -->
      <div class="notes">
        <h4 class="title-skills"> ملاحظات </h4>
        <div class="item-notes">
          <i class="fas fa-info"></i>
          <p>  هى المرة الاولى فى المملكة لكن تريد تعلم طبخ المأكوةلات  العربيه ويمكنها القيام بجميع الاعمال المنزلية</p>
        </div>
      </div>
      <!------------- button----------- -->
      <div class="buttons">
        <button class="btn-d-done" >تعــاقـد الان</button>
        <button class="btn-d-close" (click)="toggle()">إغـلا ق</button>
      </div>
    </div>
  </div>
</section>
