<div class="info">
  <div class="alert">
    <p> عدد نتائج البحث <span>{{resultNumbwe}}</span>  خادمة منزلية</p>
    </div>
    <!-- card 1 -->
    <div class="card" (click)="showDetials()">
      <div class="image">
        <img src="../../../assets/image/maid.png" alt="">
      </div>
      <!-- ----------detailss------------ -->
      <div class="detailss">
        <h4 class="title"> Elti ernawati binti warli</h4>
      <!-- ----------item detailss------------ -->
        <div class="item-details">
          <!-- item 1 -->
          <div class="item">
            <i class="fas fa-info"></i>
            <p>المهنة:عاملة نظافة</p>
          </div>
          <!-- item 2 -->
          <div class="item">
            <i class="fas fa-info"></i>
            <p>الجنسية: اندونيسيا</p>
          </div>
          <!-- item 3 -->
          <div class="item">
            <i class="fas fa-info"></i>
            <p>الديانة: غير محدد</p>
          </div>

        </div>
        <div class="featuer">
          <!--featuer 1  -->
          <div class="item">
            <i class="fas fa-info"></i>
            <p>اجادة الطبخ والتنظيف</p>
          </div>
          <!--featuer 2  -->
          <div class="item">
            <i class="fas fa-info"></i>
            <p>اجادةمعاملة الاطفال</p>
          </div>
        </div>
      </div>
    </div>
    <!-- card 2 -->
    <div class="card active" (click)="showDetials()">
      <div class="image">
        <img src="../../../assets/image/maid.png" alt="">
      </div>
      <div class="detailss">
        <h4 class="title"> Elti ernawati binti warli</h4>
        <div class="item-details">
          <!-- item 1 -->
          <div class="item">
            <i class="fas fa-info"></i>
            <p>المهنة:عاملة نظافة</p>
          </div>
          <!-- item 2 -->
          <div class="item">
            <i class="fas fa-info"></i>
            <p>الجنسية: اندونيسيا</p>
          </div>
          <!-- item 3 -->
          <div class="item">
            <i class="fas fa-info"></i>
            <p>الديانة: غير محدد</p>
          </div>

        </div>
        <div class="featuer">
          <!--featuer 1  -->
          <div class="item">
            <i class="fas fa-info"></i>
            <p>اجادة الطبخ والتنظيف</p>
          </div>
          <!--featuer 2  -->
          <div class="item">
            <i class="fas fa-info"></i>
            <p>اجادةمعاملة الاطفال</p>
          </div>
        </div>
      </div>
    </div>
    <!-- card 3 -->
    <div class="card" (click)="showDetials()">
      <div class="image">
        <img src="../../../assets/image/maid.png" alt="">
      </div>
      <div class="detailss">
        <h4 class="title"> Elti ernawati binti warli</h4>
        <div class="item-details">
          <!-- item 1 -->
          <div class="item">
            <i class="fas fa-info"></i>
            <p>المهنة:عاملة نظافة</p>
          </div>
          <!-- item 2 -->
          <div class="item">
            <i class="fas fa-info"></i>
            <p>الجنسية: اندونيسيا</p>
          </div>
          <!-- item 3 -->
          <div class="item">
            <i class="fas fa-info"></i>
            <p>الديانة: غير محدد</p>
          </div>

        </div>
        <div class="featuer">
          <!--featuer 1  -->
          <div class="item">
            <i class="fas fa-info"></i>
            <p>اجادة الطبخ والتنظيف</p>
          </div>
          <!--featuer 2  -->
          <div class="item">
            <i class="fas fa-info"></i>
            <p>اجادةمعاملة الاطفال</p>
          </div>
        </div>
      </div>
    </div>
</div>
