<!-- ===========sidebar================== -->
<app-slide></app-slide>
<div class="container">
    <!-- ===========steps container================== -->
  <div class="steps">
    <app-steps></app-steps>
  </div>
  <div class="wrapper-Chose">
    <h3>اختار عاملة نظافة</h3>
    <div class="filter-resulte">
      <div class="filter">
        <app-filter-result></app-filter-result>
      </div>
      <div class="list">
        <app-list-maid></app-list-maid>
      </div>
    </div>
    <!-- =========== footer ================== -->
    <div class="footer-buttons">
      <app-footer></app-footer>
    </div>
  </div>
  <!-- =========== content ================== -->
</div>
<div class="contact-wrapper">
  <app-contact></app-contact>
</div>
<!-- =========== details ================== -->
<div class="details">
  <app-details></app-details>
</div>
